/* public-class */
.public-w{
    width: 1226px;   
    margin-right: auto;
    margin-left: auto;
    /* border:1px red solid; */
}

/* top - title  start */
#top-nav-bg{
    background-color: #333;
    height: 40px;
    position: relative;
}

/* top-title-width */
 .top-w-h{
    height: inherit;
    overflow: hidden;
}

/* top-title-left */
#top-nav-bg .top-nav{
    float: left;
}

/* top-title-li-| */
#top-nav-bg .top-nav li i, .top-right-l li i{
    margin: auto 3.6px;
    font-size: 1px;
    color: rgb(66,60,65);
}

/* top-title-li-text */
 .top-nav li, .top-right-l li{
    float: left;
    color:rgb(176,176,176);
    font-size: 12px;
    line-height: 40px;
    height:inherit;
}
/* top-title-hover */
.top-nav  li:hover, .top-right-l li:hover{
    color: rgb(255, 255, 255);
    position: absolute;
    background-color: lightcoral;
    height: 30px;
    height: 30px;
    top: 30px;
    right: 40px;
    display: ;

}


/* top-title-right */
#top-nav-bg .top-right-l{
    float: right;   
}

/* shoping-bg */
.top-right-l  .top-right-shop-bg {
    display: block;
    background-color:rgb(66,66,66);
    height: inherit;
    margin-left:15px ;
    width: 120px;
    text-align: center;
  
}

.top-right-l  .top-right-shop-bg  #w-heddin {
    height: 30px ;
    width: 50px;
    background-color: ivory;
    visibility: hidden;
    right: 0px;
    
}

.top-right-l  .top-right-shop-bg:hover {
   background-color: white;
   visibility: visible;

}

/* top-title -end-  */

/* product-title-statr */

#product-title{
    height: 100px;  
    position: relative;
    /* border:1px red solid; */
}

/* p-logo */
#product-title .p-t .p-left{
    background: url(//s02.mifile.cn/assets/static/image/mi-logo.png) no-repeat 50% 50%;
    position: absolute;
    background-color:rgb(255,103,0) ;
    height:55px;
    width: 55px;
    margin-top: 22px;   
    transition: all 0.3s ease-in-out;;
}
#product-title .p-t .p-left:hover {
    background: url(//s02.mifile.cn/assets/static/image/mi-home.png) no-repeat 50% 50%;
    background-color:rgb(255,103,0) ;
 
}

/* title-center-meu */
#product-title .p-t .p-center{
    
    height: inherit;
}

#product-title .p-t .p-center ul li{
    float: left ;
    height: initial;  
    line-height: 100px;
    padding-right: 15px;
    font-size: 16px;
    color: rgb(51,51,51);
}

#product-title .p-t .p-center ul li:hover{
    color: rgb(255,103,0);
}

#product-title .p-t .p-center ul .l-w{
    width: 127px;
}

#product-title .p-t .p-center ul .l-w span{
        visibility: hidden;
}


/* title-right */
#product-title .p-t .p-right{
    height: inherit;
   position: absolute;
    margin-top: 27px ;
    right: 155px;
    
}
/* form - text menu */
#product-title .p-t .p-right form{
    width: 223px;
    height: 45px;
    border:1px rgb(224,224,224) solid;
    float: left;
    line-height: 45px;
    text-align: right;
    padding-right: 20px;
    color: rgb(224,224,224) ;
    font-weight: 100;   
}

#product-title .p-t .p-right button{
    display: inline-block;
    height: 47px;
    width: 47px;
    background-color: white;    
    border-left:0px!important;
    border:1px  rgb(224,224,224) solid;  
    color: rgb(97,97,97);
}   
#product-title .p-t .p-right button:hover{
    background-color:rgb(255,103,0);
    color: white;
    border:1px solid rgb(255,103,0) ;
}

#product-title .p-t .p-right  form  i{
    font-size: 12px;
    color:  rgb(97,97,97);
    font-weight: 200;
    font-style: normal;
    background-color: rgb(238,238,238);
    display: inline-block;
    height: 18px;
    width: 80px;
    text-align: center;
    line-height: 18px;
}

#product-title .p-t .p-right form i:hover{
    background-color:rgb(255,103,0);
    color: white;
}
    /* product-title-end */

#mun{
        width: 1226px;
        height: 460px;
        margin:0  auto;
        position: relative;
            
        background:url("https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/e5bdaef778889f4fe2dc0ee5ce29f6a1.jpg?thumb=1&w=1533&h=575&f=webp&q=90") no-repeat;
   

}
#mun .left {
    width: 234px;
    height:420px ;
    padding:20px 0;
     background-color:rgba(0, 0, 0, 0.247);
     color: white;    
}
#mun  .w-h{
    
}

#mun .left ul li{
    line-height: 42px;  
    padding-left: 30px ;
    
}
#mun .left ul li i{
   float: right;
   line-height: 42px; 
   padding-right: 20px;
   font-size: 12px;
}

#mun .left ul li:hover{
 background-color:rgb(255,103,0);
}
#mun .dro{
    position: absolute;
    right: 25px;
    bottom: 10px;
}


#mun .dro ul li{
    width: 6px;
    height: 6px;
    border: 2px solid #fff;
    border-color: hsla(0,0%,100%,.3);
    border-radius: 10px;
    overflow: hidden;
    background: rgba(0,0,0,.4);
    opacity: 1;
    display: inline-block;
    margin-right: 3px;
}

#mun .dro ul li:hover{
    background: hsla(0,0%,100%,.4);
    border-color: rgba(0,0,0,.4);
}

/* end  */
#for{
    height: 170px;
     width: 1226px;
    height: 170px;
    margin:14px  0 14px 14px;
    position: relative;
   
}

#for .one{
    width: 234px;
    background-color: #5f5750;
    float: left;  
    font-size: 10px;
    color: rgb(207,204,202);
    margin:0 2px 0 -14px;   
    height: 170px;
}

#for .one li{
    float: left;
    width: 70px;
   line-height: 15px;
   height: 85px;
   text-align: center;
    padding: 0 3px;
    opacity:0.7
}


#for .one li img{
    padding-top: 20px;
    height: 24px;
    width: 24px;
    margin:0 23px 4px;
    
}


#for .one li:hover,#for .one li img:hover {
    color: white;
    opacity:1

}
    

#for .two li{
    width: 316px;
    height: 170px;
    margin-left: 11px; 
      display: inline-block;
       background-size:  316px 170px;
}

#for .two ul .ai{
  
    background: url(https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/7bc54a61b927dd8c54ddd39a0acf0254.jpg?w=632&h=340) no-repeat;
    background-size:  316px 170px;
}

#for .two ul .i{
    background:url(https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/94c74e01afe50a86c3a87ff030b85781.jpg?w=632&h=340)  no-repeat;
    background-size:  316px 170px;
}


#for .two  .u{
    background:url(https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/816a66edef10673b4768128b41804cae.jpg?w=632&h=340);
    background-size:  316px 170px;
}

/* end */

#main var,
        #main i {
            font-size: 12px;
            font-weight: 400;
            font-style: normal;
            
        }

        body {           
            background-color: rgb(245, 245, 245);
        }


#main {
            
            height: 800px;
            width: 1226px;
            margin: 0 auto;
        }

        .top {
            /* border: red 1px solid; */
            height: 57px;
            position: relative;
            float: left;
            width: 1226px;
        }

        .top .left-1 {
            float: left;
            width: 1137px;
            line-height: 57px;
            font-size: 22px;
            font-weight: 100;
        }

        .top .left-2 {
            line-height: 57px;
            position: absolute;
            bottom: 0px;
            right: 0px ;
        }

        .top .left-2 span {
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 10px;
            background-color: rgb(176, 176, 176);
            line-height: 20px;
            color: white;
            text-align: center;
            
        }

        #main .left {
            float: left;
            width: 234px;
            background-repeat: no-repeat;
            height: 614px;
            background-image: url(https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/574c6643ab91c6618bfb2d0e2c761d0b.jpg?thumb=1&w=293&h=768&f=webp&q=90);
            background-size: 234px 614px;
        }

        #main .right {
            float: left;
            width: 992px;
            height: 614px;
        }
         
        #main .right .right-top_1 div {
            margin: 0px 0px 14px 14px;
            padding: 20px 0px;
            float: left;
            text-align: center;
            width: 234px;
            height: 260px;
            background-color: white;
            /* 让悬停后的动作更加流畅 */
            transition: all 0.3s ease-in-out;

        }
            /* 鼠标悬停后效果 */
        #main .right .right-top_1 div:hover {
            box-shadow: 10px 10px 10px rgb(192, 192, 192);
            transform: translate(-1px, -5px);

        }

        #main .right .right-top_1 div img {
            height: 160px;
            width: 160px;
        }

        #main .right .right-top_1 div P {
            font-weight: 400;
            font-size: 14px;
            line-height: 14px;
            margin-top: 10px;
        }

        #main .right .right-top_1 div h2 {
            font-size: 12px;
            font-weight: 400;
            color: #B0b0b0;
            line-height: 12px;
            height: 12px;
            margin-top: 8px;
            margin-bottom: 10px;
        }

        #main .right .right-top_1 div var {
            font-size: 14px;
            font-weight: 400;
            color: #ff6700;
            margin-top: 25px;
        }

        #main .right .right-top_1 div span {
            text-decoration: line-through;
            color: #B0b0b0;
            font-weight: 300;
        }